<h1>Product-Form</h1>

<form method="post" action="/pro-process" >
        Product Name:<input type="text" name="pname"></br>
        Product Details:<input type="text" name="pdetail"></br>
        Product Price:<input type="number" name="pprice"></br>
        Product Qty:<input type="number" name="pqty"></br>
       <input type="submit"/>
</form>