<h1>Add product To your Cart</h1>

<form method="post" >
        Product Name:<input type="text" name="pname" value='{{mydata.pro_name}}' ></br>
        Product Price:<input type="number" name="pprice" value='{{mydata.pro_price}}' ></br>
        Product Qty:<input type="number" name="pqty" value='{{mydata.pro_qty}}' ></br>
        <input type="submit" value="Add To Cart"/>
</form>

