<html>
    <form method="POST" action="mark1">
        <table>
            <tr>
            
                <td> Maths</td> 
                <td><input type="number" name="maths"  placeholder="Enter Maths marks"></td>
            </tr>
        
            <tr>
               
                <td> Science</td>
                <td><input type="number" name="science"  placeholder="Enter Science marks"></td>
            </tr>
            
            <tr>


                <td> English</td>
                <td><input type="number" name="english" placeholder="Enter Science marks"></td>
            </tr>
            <tr>
              
                <td> Hindi</td>
                <td><input type="number" name="hindi" placeholder="Enter hindi marks"></td>
            </tr>
    
            <tr>
            
                <td>Gujarati</td>
                <td><input type="number" name="gujarati"  placeholder="Enter gujarati marks"></td>
            </tr>
        
            <tr>
                <td>
                    <input type="submit">
                </td>
            </tr>
        </table>
    </form>
</html>

