<html>
    <head>
        <title>Form</title>
    </head>
    <body>
        <form method="post" >
        Category Name:<input type="text" name="cnm" value='{{mydata.cat_name}}'></br>
       
        <input type="submit"/>
        </form>
    </body>
</html>