

<html>
<body>
<form method="post" >
    <table>
        <tr>
            <td>Name : </td>
            <td><input type="text" name="user_name"  value="{{ mydata.user_name }}" required> </td>
        </tr>
        <tr>
            <td>Email :</td>
            <td> <input type="text"  name="user_email" value="{{ mydata.user_email }}" required> </td>
        </tr>
       
            <tr>
                <td><input type="submit"></td>
                <td><input type="reset"></td>
            </tr>
    </table>
</form>
</body>
</html>
