<html>
<body>

    <form method="post">
        <h1>Add Area Record</h1>
        <table>
            <tr>
                <td>Area Name</td>
                <td> <input type="text" placeholder="Enter area" name="area_name" value="{{area_array.area_name}}"></td>
            </tr>
            <tr>
                <td>city</td>
                            <td> <input type="text"  name="_city" 
                value="{{area_array._city}}" required> </td>
        </tr>
            </tr>
           
            <tr>
                <td><input type="submit"></td>
                <td><input type="reset"></td>
            </tr>
        </table>
    </form>
</body>
</html>