<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>User Form</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- daterange picker -->
    <link rel="stylesheet" href="../../plugins/daterangepicker/daterangepicker.css">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="../../plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="../../plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="../../plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="../../plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- Bootstrap4 Duallistbox -->
    <link rel="stylesheet" href="../../plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <script src="/javascripts/users.js"></script>
</head>

<body>
    
    <form method="POST" id="quickForm">
        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title">User Form</h3>
            </div>
            <p style="background-color: green; color: white;">{{msg}}</p>
            <div class="card-body">

                <!-- FirstName -->
                <div class="form-group">
                    <label>FirstName</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-square"></i></span>
                        </div>
                        <input type="text" name="firstname" class="form-control" placeholder="Enter FirstName" />
                    </div>
                </div>

                <!-- LastName -->
                <div class="form-group">
                    <label>LastName</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-square"></i></span>
                        </div>
                        <input type="text" name="lastname" class="form-control" placeholder="Enter LastName" />
                    </div>
                </div>

                <!-- Address -->
                <div class="form-group">
                    <label>Address</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-square"></i></span>
                        </div>
                        <textarea name="address" class="form-control" placeholder="enter your address" rows="4"
                            cols="50"></textarea>
                    </div>
                </div>


                <!-- Gender -->
                <div class="form-group">
                    <label>Gender</label>
                    <div class="input-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" name="gender" value="male"> Male<br>
                            <input type="radio" name="gender" value="female"> Female<br>
                            <input type="radio" name="gender" value="other"> Other
                        </div>
                    </div>
                </div>


                <!-- Hobby -->
                <div class="form-group">
                    <label>Hobby</label>
                    <div class="input-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="hobby" value="sports" id="sport">
                            <label for="sport">Sports</label>

                            <input type="checkbox" name="hobby" value="music" id="music">
                            <label for="music">Music</label>

                            <input type="checkbox" name="hobby" value="reading" id="read">
                            <label for="read">Reading</label>
                        </div>
                    </div>
                </div>


                <!--Interest Area -->
                <div class="form-group">
                    <label>Interest Area</label>
                    <div class="input-group">
                        <select name="interestArea" class="form-control select2bs4" style="width: 100%;"
                            id="interest area">
                            <option value="Node JS">Node JS</option>
                            <option value="JAVA">JAVA</option>
                            <option value="Python">Python</option>
                            <option value="React JS">React JS</option>
                        </select>
                    </div>
                </div>


                <!--Photo -->
                <div class="form-group">
                    <label>Photo</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-square"></i></span>
                        </div>
                        <input type="file" name="photo" class="form-control" />
                    </div>
                </div>

                <input class="btn btn-success" id="validate" type="submit" value="Submit" />
            </div>

        </div>
        
</body>

</html>