<div class="post">
				<h2 class="title"><a href="#">Home </a></h2>
			
				<div style="clear: both;">&nbsp;</div>
				<div class="entry">
					Welcome to home
				</div>
			</div>
			
			<div style="clear: both;">&nbsp;</div>
		