    <h1>Student-Form</h1>
        <form method="post" action="/std-process">
        Name:<input type="text" name="nm"><br/>
        Mobile:<input type="text" name="mno"><br/>
        Email ID:<input type="text" name="email"/><br/>
        Gender:
        <input type="radio" name="gender" value="Male" />Male
        <input type="radio" name="gender" value="Female" />Female
        
        <br/>
        Date of Birth(DOB):<input type="date" name="dob"><br/>
        Hobbies <br />
        <input type="checkbox" name="hobbies" value="Drawing" />
        Drawing
        <input type="checkbox"  name="hobbies" value="Singing" />
        Singing
        <input type="checkbox" name="hobbies" value="Dancing" />
        Dancing
        <input type="checkbox" name="hobbies" value="sketching" />
        Sketching
        <br /><br/>
        <input type="submit"/>
        </form>
    