<h1>Student-Edit</h1>
<form method="post" >
        Name:<input type="text" value="{{mydata.stud_name}}" name="nm">
        Mobile:<input type="text" value="{{mydata.stud_mobile}}" name="mno">
        <input type="submit"/>
        </form>